@font-face {
    font-family: "chocolate";
    src: url(chrome-extension://__MSG_@@extension_id__/font.ttf);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    top: 5%;
    right: 2%;
    width: 20%;
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    background-color: rgb(241, 237, 225);
    -moz-border-radius:10px;
    border-radius:10px;
=}

#inner-text {
    padding: 5px;
}

#overlay-title{
    font-family: "chocolate", sans-serif;
    -moz-border-radius:10px;
    border-radius:10px;
    font-size: 40px;
    color: black;
    padding: 15px;
    background-color: rgb(245, 206, 40);
}
