@font-face {
    font-family: "chocolate";
    src: url(font.ttf);
}

body {
    margin: 0;
    font-family: Helvetica,sans-serif;
    background-color: #F2EEE2;
    color: #000000;
}

.topnav {
    overflow: hidden;
    background-color: #F5CE28;
    font-family: "chocolate", sans-serif;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #C0B283
}

.title {
    text-align: center;
    padding-top: 10px;
    font-size: xx-large;
    font-weight: normal;
}

.side-borders {
    min-height: 100vh;
    height: 100%;
    background-color: rgba(64, 175, 236, 0.6);
}

header {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
}

hr {
    border: none;
    height: 1px;
    color: #373737;
    background-color: #373737;
}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}